.button-icon {
    width: 20px; /* Defina a largura desejada */
    height: 20px; /* Defina a altura desejada */
    vertical-align: middle;
    margin-right: 5px; /* Ajuste a margem conforme necessário */
  }
  